@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the background color here */
  background-image: linear-gradient(to right, #3f7bc2, #1cb5e0);
  background-attachment: fixed; /* This ensures the background remains fixed during scrolling */
  margin: 0;
  padding: 0;
}